[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vim-airline/start/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vim-airline/start/vim-airline-themes"]
	path = pack/vim-airline/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
